html{
	margin:0;
	padding:0;
  font-family: $fontSansSerif;
  font-size: 12px;
  line-height: 1.8;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include min-screen( $breakpoint-middle ) {
    font-size: 16px;
  }
  -webkit-text-size-adjust: 100%;
  border-top: solid 8px #000;
}


body{
  margin:0;
  @include max-screen( $breakpoint-middle ) {
    min-width: 0;
  }
}

/* ==========================================================================
    heading
    ========================================================================== */

h1 {
	margin:2.4em 0 .6em;
	padding:0;
	font-size: 220%;
	font-weight:normal;
}
h2 {
	margin:2.4em 0 .6em;
	padding:0;
	font-size: 180%;
	font-weight:normal;
}
h3 {
	margin:3.4em 0 .9em;
	padding:0;
	font-size: 130%;
	font-weight:normal;
}
h4 {
	margin:2.4em 0 1.2em;
	padding:0;
	font-size: 112%;
	font-weight:normal;
}
h5{
	margin:2.4em 0 1.5em;
	padding:0;
	font-size:90%;
	font-weight:normal;
}
h6 {
	margin:3.8em 0 1.9em;
	padding:0;
	font-size: 75%;
	font-weight:normal;
}

/*
list
/---------------------------------------------------------------------------*/

li{
	list-style:square;
}
ol li{
	list-style:decimal;
}
ul,
ol{
	margin:2em 0;
	padding:0;
}
li{
	margin:4px 0 4px 20px;
	padding:0;
}
ol li{
	margin-left:40px;
}
dl{
	margin:1em 0;
	padding:0;
}
dt{
	margin:16px 0 4px;
	padding:0;
	font-weight:bold;
}
dd{
	margin:4px 16px 4px 0;
	padding:0;
}
li ul,
li dl,
dd ul,
dd dl{
	margin:0;
}

/*
table
/---------------------------------------------------------------------------*/

table {
	margin:0;
	padding:0;
	empty-cells:show;
	border-collapse:separate;
	border-spacing:1px;
}
th{
	text-align:center;
}

/*
blockquote , pre , code
/---------------------------------------------------------------------------*/

blockquote{
	margin:2em 0 2em 32px;
	padding:0;
}
blockquote *{
	font-family: Arial, Helvetica, sans-serif;
	font-style:oblique;
}
pre{
	margin:2em 0;
	padding:0;
	display:block;
	font-family: Arial, Helvetica, sans-serif;
	white-space: pre-wrap;		/* css-3 */
	white-space: -moz-pre-wrap;	/* Mozilla, since 1999 */
	white-space: -pre-wrap;		/* Opera 4-6 */
	white-space: -o-pre-wrap;	/* Opera 7 */
	word-wrap: break-word;		/* Internet Explorer 5.5+ */
}
code{
	// display:block;
}

/*
text
/---------------------------------------------------------------------------*/

em,
i{
	font-style:italic;
}
p{
	margin:2em 0;
	padding:0;
}
address,
cite{
	margin:2em 0;
	padding:0;
}
address,
address a{
	font-style:italic;
}
strong{
	font-weight:bold;
}

/*
link
/---------------------------------------------------------------------------*/

a {
	text-decoration:none;
	color:#0060a0;
}
a:active,
a:visited {
	color:#0060a0;
	color:#0055aa;
}
a:hover {
	color:#ff5577;
	color:#00aaff;
}

/*
form
/---------------------------------------------------------------------------*/

form {
}
input,
textarea {
	color:#303030;
}
input[type=text],
input[type=password]{
	width:20em;
}
input[type=text]:focus {
  outline: 0;
}
textarea{
	width:20em;
	height:6em;
	overflow:auto;
}
button{
	color:#303030;
}
fieldset {
	border-width:1px;
	border-style:solid;
	border-color:#d0d0d0;
}
legend {
	color:#303030;
}
